/* ------------ Header  ---------------- */
/* ------------------------------------- */ 

.header {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr;
    border-bottom: 2px solid rgb(69, 148, 69);
}
.header-register {
    align-self: center;
    justify-self: center;
    font-family: 'Domine', serif;
    font-size: 1.2rem;

}
.header-register a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.icon {
    color: white;
    font-size: 5rem;
    padding-left: 2.3rem;
}

ul {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
  
}

ul li {
    list-style: none;
    display: inline;
    margin-right: 1rem; 
    padding-top: 0.5rem;
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: 'Domine', serif;
   
}

.selected {
    background-color: rgb(69, 148, 69);
    padding: 0.95rem 0.3rem 0.64rem 0.3rem;
}



/* 
.navbar {
    display: grid;
    grid-template-columns: 1fr, 7fr, ifr, 1fr;
} */

.border {
    border-bottom: 2px solid black;
}

/* ------------ hero ---------------- */
/* ------------------------------------- */ 
.hero {
    background-image:  url(image/backgrd1.jpg);
    height: 100vh;
    background-size: cover;
    margin-bottom: 1rem;
    background-position: center center;

}

.title {
    margin-top: 0;
    position: absolute;
    top: 22%;
    left: 65%;
    font-size: 3.5rem; 
    font-family: 'Dancing Script', cursive;
  }

body {
    background-color: #000;
}



/* ------------gallery---------------- */
/* ------------------------------------- */ 

.gallery {
    margin-bottom: 5rem;
    margin-top: 7rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15rem 15rem;
    grid-gap: 2rem 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    justify-items: center;
}

.wrapper img {
    width:80%;
    transition: 1s all;
}

.wrapper img:hover {
    width: 90%;
}

.gallery-title {
    text-align: center;
    font-family: 'Domine', serif;
    color: #fff;
}

/* ------------about us---------------- */
/* ------------------------------------- */ 

.about {
    margin-top: 4rem;
}

.about-color {
    color: #fff;
    font-family: 'Domine', serif;
    font-size: 1.3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: justify;
 }
/* ----flip card---- */

 .flip-card {
    background-color: transparent;
    width: 22rem;
    height: 22rem;  
    margin: 8rem auto; 
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
   .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
   .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(69, 148, 69);
    color: white;
    transform: rotateY(180deg);
  }


 .aboutus-footer {
     margin-top: 10rem;
 }

 
/* ------------adventure--------------- */
/* ------------------------------------- */ 

.wrapper-adventure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

.wrapper-adventure > div img {
    max-width: 100%;    
}

.adventure-par {
    color: #fff;
    font-family: 'Domine', serif;
    font-size: 1.5rem;
    text-align: justify;
    width: 70%;
    padding-left: 7rem;
}

.adventure {
    text-align: center;
    font-family: 'Domine', serif;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.adventure-image {
    width: 80%;
}


/* ------------footer---------------- */
/* ------------------------------------- */ 

footer {
    color: white;
    font-family: 'Domine' serif;
    font-size: 1rem;
    text-align: center;
}


/*---------------- callout box ---------------------*/

.callout {
    position: fixed;
    bottom: 3.5rem;
    left: 15rem;
    max-width: 300px;
  }
  
  .callout-header {
    padding: 25px 15px;
    background: rgb(69, 148, 69);
    font-size: 30px;
    color: white;
    width: 20rem;
  }
  
  .callout-container {
    padding: 15px;
    background-color: rgb(166, 182, 189);
    color:black;
    width: 20rem;
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    left: 20rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: red;
    }

/* ------sign-up form ------- */

.container-form {
    border: 2px solid rgb(69, 148, 69);
    width: 45%;
    margin: 7rem auto;

}

.wrapper-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 1rem;
}

.wrapper-form input {
    border: 2px solid rgb(69, 148, 69);
    border-radius: .5rem;
    width: 60%;
    height: 2rem;  
    padding-left: 0.5rem;
}

.label {
    justify-self: end;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: white;
}

.signup-title {
    text-align: center;
    margin-bottom: 3rem;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
}

.signup-btn {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    border: 1px solid white;
    background-color: rgb(69, 148, 69);
    border-radius: 1rem;
    
}

.sign-up {
    text-align: center;

}

.star {
    color:red;
}

.signin-footer {
    margin-top: 15rem;
}


/*------------------- media queries------------------------ */

/*------------------- index.html ------------------*/

@media only screen and (max-width: 1024px) {
        
    .header {
        grid-template-columns: 8fr 1fr 1fr;
     
    } 

    .wrapper {
            grid-template-columns: 1fr 1fr 1fr;
    } 

    .gallery {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .wrapper-adventure {
        grid-template-columns: 1fr;
        grid-column-gap: 4px;
            }

    .adventure-par {
        font-size: 1rem;
        width: 80%;
        padding-left: 6rem;
    }
    .adventure {
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
    }
    footer {
        margin-top: 25rem;
    }
    .callout {
        margin-left: 7rem;
        margin-bottom: 5rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .flip-card {
        width: 10rem;
        height: 10rem;  
        margin: 6rem auto; 
    }
   
}

@media only screen and (max-width: 768px) {
        
    .header {
        grid-template-columns: 4fr 1fr 1fr;
             
    } 

    .icon {
        font-size: 3.5rem;
    } 
    .title {
        font-size: 1.5rem; 
        }

    .wrapper {

        grid-template-columns: 1fr 1fr;
    }

    .gallery {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .wrapper-adventure {
        grid-template-columns: 1fr;
        grid-column-gap: 3px;
    }
    
    .adventure-par {
        font-size: 0.75rem;
        width: 80%;
        padding-left: 2rem;
    }
    .adventure {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
        
    .flip-card {
        width: 10rem;
        height: 10rem;  
        margin: 4rem auto; 
    }
}

@media only screen and (max-width: 481px) {
    
    .header {
    grid-template-columns: 2fr 1fr 1fr;
    } 

    .header-register {
        font-size: 0.6rem;
        }  

    .icon {
        font-size: 2rem;
        }

    ul li a {
        font-size: 0.7rem;
        }
        
    .title {
        font-size: 0.5rem; 
        }

    .hero {
       /* background-size: 100%; */
       background-repeat: no-repeat;
       margin-top: 0;       
        }
    .wrapper {

        grid-template-columns: 1fr;
    } 
    .gallery {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .wrapper-adventure {
        grid-template-columns: 1fr;
        grid-column-gap: 2px;
    }
    .adventure-par {
        font-size: 0.5rem;
        width: 80%;
        padding-left: 1rem;
    }
    .adventure {
        margin-bottom: 1rem;
        font-size: 0.5rem;
    }
    .flip-card {
        width: 6rem;
        height: 6rem;  
        margin: 2rem auto; 
    }

}

   